<link rel="import" href="../components/polymer/polymer.html">
<link rel="import" href="build-card.html">
<link rel="import" href="build-details.html">
<link rel="import" href="build-options.html">
<link rel="import" href="build-count.html">
<link rel="import" href="build-service.html">

<polymer-element name="build-list" attributes="max" on-core-set="{{test}}">
  <template>
    <style>
    :host {
      display: block;
      position: fixed;
      bottom: 50px;
      right: 50px;
      width: 400px;
      background-color: rgba(245, 245, 245, 0.7);
      border-radius: 5px;
      color: rgb(77,77,77);
    }
    
    :host h1 {
      margin: 5px;
    }

    build-card {
      margin-bottom: 5px;
    }
    </style>
    
    <h1>Jenkins Top Builds</h1>
    <div>
      <template repeat="{{build, buildIndex in builds | limitToMax}}">
        <build-card rank="{{buildIndex + 1}}" build="{{build}}">
        </build-card>
      </template>
      
    </div>
  </template>
  <script>
  Polymer({
    builds: [
      {
        branch: 'dev/dkan/dblkajdljka',
        endpoint: 'dkan',
        minify: true,
        default: false,
        releaseNotes: true,
        percent: 12
      },
      {
        branch: 'dev/dkan/dblkajdljka',
        endpoint: 'dkan',
        minify: true,
        default: false,
        releaseNotes: true,
        percent: 12
      },
      {
        branch: 'dev/dkan/dblkajdljka',
        endpoint: 'dkan',
        minify: true,
        default: false,
        releaseNotes: true,
        percent: 12
      },

    ],

    limitToMax: function (value) {
      var topBuilds = [];
      var totalBuilds = this.builds.length;
      var limit = this.max || 3;

      limit = totalBuilds > limit ? limit : totalBuilds;

      for (var i=0; i < limit; i++) {
        topBuilds.push(value[i]);
      }

      return topBuilds;
    },

    test: function (event, detail, target) {
      console.log('message received...');
      console.log(event);
      console.log(target);
      console.log(detail);
    }
  });
  </script>
</polymer-element>
