<!-- <link rel="import" href="../lib/polymer/polymer.html"> -->

<polymer-element name="build-details" attributes="lastBuild branchUrl branch endpointUrl endpoint">
	<template>
		<!-- Can link to stylesheet here or define styles -->
		<style>
			:host {
				display: block;
				float: right;
				/*width: 325px;*/
				width: 80%;
				line-height: 22px;
				margin-bottom: 30px;
			}

			:host p:first-child {
				font-weight: bold;
				font-size: 18px;
			}

			:host a, :host p {
				display: inline-block;
				width: 100%;
				margin: 0;
				font-size: 16px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}

			:host a {
				color: rgb(77,77,77);
			}

			:host a:hover {
				color: rgb(241,96,29);
			}

		</style>

		<p>Last built <span id="last-build-1">{{lastBuild}}</span></p>
		<a id="branch-1" href="{{githubBranchUrl}}{{branch}}" target="_blank">{{branch}}</a>
		<a id="end-point-1" href="{{hammerheadEndpointUrl}}{{endpoint}}" target="_blank">{{endpoint}}</a><br>

	</template>
	<script>
		Polymer({
			githubBranchUrl: githubBranchUrl,

    		hammerheadEndpointUrl: hammerheadEndpointUrl
		});
	</script>
</polymer-element>